<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const username = "<%= username %>"
        const avatar = "<%= avatar %>"
        const admin = "<%= admin %>"
    </script>
    <link rel="stylesheet" href="css/room.css">
    <title>Dumb Charades</title>
</head>

<body>
    <div>
        <img class="center__title" src="./img/text.gif">
    </div>
    <div class="row">

        <div class="login-box column" id="A">
            <article>
                <h1>Team A</h1>
            </article>
            <div class="grid-container" id="grid_Team_A"></div>
        </div>

        <div class="column content">
            <img class="avatar" src="./img/avatar/<%= avatar %>.png">
            <h2>
                <%= username %>
            </h2>
            <div id="options">
                <div id="team_choose">
                    <button class="join" id="join_A">Join A</button>
                    <button class="join" id="join_B">Join B</button>
                </div>
                <button id="copy">Copy Joining Info</button>
                <button id="start">Start Game</button>
            </div>
        </div>

        <div class="login-box column" id="B">
            <article>
                <h1>Team B</h1>
            </article>
            <div class="grid-container" id="grid_Team_B"></div>
        </div>

    </div>

    <script id="grid-template" type="text/html">
        {{#users}}
            <div class="grid-item">
                <img class="avatar_template" src="./img/avatar/{{avatar}}.png">
                <p>{{username}}</p>
            </div>
        {{/users}}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>